* {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: flex-start;
    gap: 1rem;
}

.form-group label {
    width: 100px;
    text-align: right;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.book-card {
    border: 0.25rem solid black;
    padding: 1rem;
    text-align: center;
}